.contact {
   padding-block: var(--gap);

   .container {
      @include grid();
   }

   // .contact-info {
   // }

   .address-info {
      margin-top: var(--gap);

      p {
         font-size: 1.125rem;
         display: flex;
         align-items: center;

         span {
            display: inline-block;
            padding-right: 1em;
            color: $primary;
            display: flex;
            align-items: center;
         }
      }
   }
}
