.footer {
   background-color: $darker;
   padding-block: var(--gap);

   .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "logo nav social" "copyright copyright copyright";
      align-items: center;
   }

   .logo {
      grid-area: logo;

      a {
         font-size: 1.6rem;
         font-weight: 500;
         text-transform: uppercase;
         color: $primary;
      }
   }

   .nav {
      grid-area: nav;
      display: grid;
      place-items: center;
   }

   .nav-list {
      @include flex();
      gap: 2em;

      a {
         font-size: 1rem;
         transition: all 0.3s ease-in-out;

         &.active,
         &:hover,
         &:focus-visible {
            color: $primary;
         }
      }
   }

   .social {
      justify-self: end;
      display: flex;
      align-items: center;
      gap: 2em;
      grid-area: social;
      transition: all 0.3s ease-in-out;

      a {
         transition: all 0.3s ease-in-out;

         &:hover {
            color: $primary;
         }
      }
   }

   .copyright-tag {
      grid-area: copyright;
      font-size: 14px;
      color: $lighter;
      text-align: center;
   }
}

@media (max-width: 50em) {
   .footer {
      .container {
         --gap: 2em;
         grid-template-columns: 1fr;
         grid-template-areas: "logo" "nav" "social" "copyright";
         gap: var(--gap);
      }

      .social {
         justify-self: center;
      }
   }
}
