.header {
   position: sticky;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 10000;
   min-height: 70px;
   box-shadow: 0 10px 15px -13px hsla(0, 0%, 0%, 0.3);
   background-color: $dark;

   .container {
      @include flex();
      min-height: inherit;
   }

   .logo {
      a {
         font-size: 1.6rem;
         font-weight: 500;
         text-transform: uppercase;
         color: $primary;
      }
   }

   .nav {
      position: relative;
   }

   .nav-list {
      @include flex();

      a {
         font-size: 1.125rem;
         transition: all 0.3s ease-in-out;

         &.active,
         &:hover,
         &:focus-visible {
            color: $primary;
         }
      }
   }

   .toggle-btn {
      display: none;
      padding: 0.5em;

      span {
         background-color: $white;
         height: 3px;
         width: 25px;
         display: inline-block;
         transform-origin: 24px;
         transition: all 0.4s ease-in-out;
      }
   }
}

@media (max-width: 50em) {
   .header {
      .nav {
         position: fixed;
         width: min(20em, 90%);
         min-height: 100vh;
         top: 0;
         right: 0;
         background-color: $dark;
         display: grid;
         place-items: center;
         transform: translateX(100%);
         transition: transform 0.4s ease-in-out;

         &.active {
            transform: translateX(0);
         }
      }

      .nav-list {
         flex-direction: column;
         width: 100%;
      }

      .toggle-btn {
         display: flex;
         flex-direction: column;
         gap: 5px;
         z-index: 99999;

         &.active span {
            &:nth-of-type(1) {
               transform: rotate(-45deg);
            }
            &:nth-of-type(2) {
               opacity: 0;
            }
            &:nth-of-type(3) {
               transform: rotate(45deg);
            }
         }
      }
   }
}
