@mixin alignment() {
   justify-content: space-between;
   align-items: center;
   gap: var(--gap);
}

@mixin flex($fd: row) {
   display: flex;
   flex-direction: $fd;
   @include alignment();
}

@mixin grid($size: 15rem) {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax($size, 1fr));
   @include alignment();
}

$cardShadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
   0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
