.testimonials {
   padding-block: var(--gap);
   border-bottom: 8px solid $darker;

   .container {
      overflow-x: hidden;
   }

   .slick-list {
      margin: 0 -1em;
      padding: 0.5em 0;
   }
   .slick-slide > div {
      padding: 0 1em;
   }

   .tistimonials-content {
      position: relative;
      min-height: 25vh;
      display: flex;
   }

   .testimonials-card {
      border-radius: var(--border-radius);
      overflow: hidden;

      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-areas: "img content" "img avatar";
      justify-content: start;
      align-items: center;
      gap: 2em;
      background-color: $lighter;

      // positioning the slides
      position: absolute;
      inset: 0;
      width: 100%;
      opacity: 0;
      transition: all 0.5s ease;

      &.active {
         opacity: 1;
         transform: translateX(0);
      }
      &.left {
         transform: translateX(-100%);
      }
      &.right {
         transform: translateX(100%);
      }
   }

   .slider-btns-container {
      margin-block: 1.5em;
      display: flex;
      justify-content: end;
      align-items: center;
   }

   .slider-btn {
      cursor: pointer;
      font-size: 2rem;
      color: $white;
      opacity: 0.5;
      padding: 0.2em 0.5em;
      transition: all 0.3s ease-in-out;

      &:hover {
         opacity: 1;
      }
   }

   .img-box {
      overflow: hidden;
      grid-area: img;
      max-height: 100%;
      min-width: 4em;

      img {
         height: 100%;
         object-fit: cover;
      }
   }

   .content {
      grid-area: content;
      padding: 2em 2em 0 0;

      p {
         margin: 0;
      }
   }

   .avatar {
      display: flex;
      align-items: center;
      gap: 0.5em;
      color: $primary;
      grid-area: avatar;
      padding: 0 2em 2em 0;

      p {
         margin: 0;
      }
   }

   .qute {
      position: absolute;
      bottom: 0;
      right: 5%;
      font-size: 5em;
      opacity: 0.1;
   }
}

@media (max-width: 50em) {
   .testimonials {
      .tistimonials-content {
         height: 50vh;
      }

      .testimonials-card {
         grid-template-columns: repeat(2, 1fr);
         grid-template-areas: "img avatar avatar" "content content content";
         text-align: left;
         gap: 1.5em;
         padding: 2em;
      }

      .img-box {
         grid-area: img;
         width: 7em;
         height: 7em;
         border-radius: 100%;
      }

      .content {
         grid-area: "content";
         padding: 0;
      }

      .avatar {
         flex-direction: column;
         align-items: start;
         grid-area: avatar;
         padding: 0;
      }

      .qute {
         bottom: -6%;
      }
   }
}
