@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
:root {
  --gap: 3em;
  --border-radius: 1em;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

::first-letter {
  text-transform: uppercase;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(240deg, 6%, 18%);
  color: hsl(0deg, 0%, 90%);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: hsl(0deg, 0%, 100%);
}

a {
  color: hsl(0deg, 0%, 90%);
  text-decoration: none;
}

p {
  margin-top: 1em;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

textarea,
button,
input {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*  utilities  */
.form .form-control {
  position: relative;
  margin-bottom: 2em;
}
.form .form-control:last-of-type {
  margin-bottom: 0;
}
.form textarea,
.form input {
  width: 100%;
  padding: 0.5em 0.3em;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: hsl(0deg, 0%, 90%);
  border-radius: 0;
  transition: all 0.3s ease-out;
  border-bottom: 2px solid rgb(152, 152, 152);
}
.form textarea:where(:focus, :valide),
.form input:where(:focus, :valide) {
  border-bottom-color: hsl(162deg, 90%, 49%);
}
.form label {
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 50%;
  color: hsl(0deg, 0%, 90%);
  opacity: 0.5;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
}
.form :where(textarea:valid, textarea:focus, input:valid, input:focus) + label {
  transform: translateY(0);
  top: -50%;
}
.form textarea {
  display: inline-block;
  width: 100%;
  resize: none;
}
.form small {
  color: hsl(0deg, 81%, 59%);
}
.form button:active {
  transform: scale(0.99);
}

.container {
  width: min(100% - 2rem, 1110px);
  margin-inline: auto;
}

.btn {
  --gap: 2em;
  display: flex;
  align-items: center;
  background-color: hsl(162deg, 90%, 49%);
  color: hsl(240deg, 6%, 18%);
  font-size: 1.125rem;
  text-transform: capitalize;
  padding: 0.5em 1.5em;
  border-radius: 100vmax;
  transition: all 0.3s ease-in-out;
  margin-top: var(--gap);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 2px solid transparent;
}
.btn .arrow-right {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  transition: padding 0.25s ease-in-out;
}
.btn:active, .btn:hover, .btn:focus-visible {
  border: 2px solid hsl(162deg, 90%, 49%);
  background-color: transparent;
  color: hsl(0deg, 0%, 90%);
}
.btn:active .arrow-right, .btn:hover .arrow-right, .btn:focus-visible .arrow-right {
  padding-left: 0.4em;
}

.download-btn {
  --gap: 0.5rem;
  padding: 0.5em 1.5em;
  border: 2px solid hsl(162deg, 90%, 49%);
  border-radius: 100vmax;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: var(--gap);
  transition: all 0.3s ease-in-out;
}
.download-btn:hover {
  background-color: hsl(162deg, 90%, 49%);
  color: hsl(240deg, 6%, 18%) !important;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: clamp(1.6rem, 2.5vw, 3rem);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
}

/*  layouts  */
.header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  min-height: 70px;
  box-shadow: 0 10px 15px -13px hsla(0deg, 0%, 0%, 0.3);
  background-color: hsl(240deg, 6%, 18%);
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  min-height: inherit;
}
.header .logo a {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: hsl(162deg, 90%, 49%);
}
.header .nav {
  position: relative;
}
.header .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}
.header .nav-list a {
  font-size: 1.125rem;
  transition: all 0.3s ease-in-out;
}
.header .nav-list a.active, .header .nav-list a:hover, .header .nav-list a:focus-visible {
  color: hsl(162deg, 90%, 49%);
}
.header .toggle-btn {
  display: none;
  padding: 0.5em;
}
.header .toggle-btn span {
  background-color: hsl(0deg, 0%, 90%);
  height: 3px;
  width: 25px;
  display: inline-block;
  transform-origin: 24px;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 50em) {
  .header .nav {
    position: fixed;
    width: min(20em, 90%);
    min-height: 100vh;
    top: 0;
    right: 0;
    background-color: hsl(240deg, 6%, 18%);
    display: grid;
    place-items: center;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }
  .header .nav.active {
    transform: translateX(0);
  }
  .header .nav-list {
    flex-direction: column;
    width: 100%;
  }
  .header .toggle-btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 99999;
  }
  .header .toggle-btn.active span:nth-of-type(1) {
    transform: rotate(-45deg);
  }
  .header .toggle-btn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .header .toggle-btn.active span:nth-of-type(3) {
    transform: rotate(45deg);
  }
}
.showcase {
  min-height: calc(100vh - 70px);
  overflow: hidden;
  background-color: hsl(240deg, 6%, 18%);
  position: relative;
}
.showcase .slide {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.showcase .slide::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.showcase .slide.active {
  opacity: 1;
}
.showcase .slide:first-child {
  background: url("../images/showcase-pic-1.jpg") no-repeat center/cover;
}
.showcase .slide:nth-child(2) {
  background: url("../images/showcase-pic-2.jpg") no-repeat center/cover;
}
.showcase .slide:last-child {
  background: url("../images/showcase-pic-3.jpg") no-repeat center/cover;
}
.showcase .content {
  position: relative;
  z-index: 2;
  transition: all 0.5s ease-in-out;
  padding: 0 10em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.showcase .content .showcase-title {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2.25rem, 4vw, 4.5rem);
  font-weight: 600;
  line-height: normal;
}
.showcase .content .showcase-sub-title {
  margin-top: 1.5em;
  font-size: 1.25rem;
}
.showcase .slider-btn {
  position: absolute;
  z-index: 15;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  color: hsl(0deg, 0%, 90%);
  cursor: pointer;
  border-radius: 100vmax;
  display: grid;
  place-content: center;
  padding: 1em;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
.showcase .slider-btn:hover, .showcase .slider-btn:focus-visible {
  opacity: 1;
}
.showcase .slider-btn span {
  display: inline-block;
}
.showcase .slider-btn.next {
  right: 2%;
}
.showcase .slider-btn.prev {
  left: 2%;
}

@media (max-width: 50em) {
  .showcase .content {
    padding: 0;
  }
  .showcase .slider-btn {
    top: 80%;
    display: none;
  }
  .showcase .slider-btn.next {
    right: 5%;
  }
  .showcase .slider-btn.prev {
    left: 5%;
  }
}
.works {
  padding-bottom: var(--gap);
}
.works .works-card {
  margin-top: var(--gap);
}
.works .works-card .card {
  position: relative;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.works .works-card .card:not(:last-of-type) {
  margin-bottom: 2em;
}
.works .works-card .card:where(:hover, :focus) .content {
  transform: translateY(0);
}
.works .works-card .img-box {
  max-height: 70vh;
  overflow: hidden;
}
.works .works-card .img-box img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
}
.works .works-card .content {
  position: absolute;
  inset: auto 0 0 0;
  transform: translateY(40%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: var(--gap);
  align-items: start;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 50em) {
  .works .works-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    align-items: start;
  }
  .works .works-card .card {
    border-radius: var(--border-radius);
  }
  .works .works-card .card:not(:last-of-type) {
    margin-bottom: 0;
  }
  .works .works-card .card:where(:hover, :focus) .img-box img {
    transform: scale(1.1);
  }
  .works .works-card .content {
    --gap: 1.5em;
    position: initial;
    inset: initial;
    transform: translateY(0);
    background-color: transparent;
    padding: var(--gap);
    align-items: center;
  }
}
.about {
  padding-block: var(--gap);
  background-color: hsl(240deg, 7%, 23%);
}
.about .about-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  margin-top: var(--gap);
  align-items: start;
}
.about .content {
  align-items: start;
  gap: 2em;
}
.about .btn-box .filter-btn {
  background-color: hsl(0deg, 0%, 90%);
  color: hsl(240deg, 6%, 18%);
  padding: 0.5em 1.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.about .btn-box .filter-btn:where(:hover, :focus) {
  background-color: hsl(162deg, 90%, 49%);
}
.about .btn-box .filter-btn:first-of-type {
  border-radius: 5px 0 0 5px;
}
.about .btn-box .filter-btn:last-of-type {
  border-radius: 0 5px 5px 0;
}
.about .btn-box .filter-btn:not(last-child) {
  border-right: 1px solid hsl(240deg, 5%, 11%);
}
.about .btn.active {
  background-color: hsl(162deg, 90%, 49%);
}
.about .social {
  margin-top: 2em;
  display: flex;
  gap: 1.5em;
}
.about .social a {
  font-size: 1.5rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.about .social a:hover {
  color: hsl(162deg, 90%, 49%);
}
.about .about-img-box img {
  position: relative;
}
.about .about-img-box img::before {
  content: "";
  height: 100%;
  width: 5px;
  background-color: hsl(240deg, 5%, 11%);
  position: absolute;
  left: 100%;
  top: 5px;
}

@media (max-width: 50em) {
  .about .content {
    align-items: center !important;
  }
  .about .social {
    justify-content: center;
  }
  .about .about-img-box img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.testimonials {
  padding-block: var(--gap);
  border-bottom: 8px solid hsl(240deg, 5%, 11%);
}
.testimonials .container {
  overflow-x: hidden;
}
.testimonials .slick-list {
  margin: 0 -1em;
  padding: 0.5em 0;
}
.testimonials .slick-slide > div {
  padding: 0 1em;
}
.testimonials .tistimonials-content {
  position: relative;
  min-height: 25vh;
  display: flex;
}
.testimonials .testimonials-card {
  border-radius: var(--border-radius);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "img content" "img avatar";
  justify-content: start;
  align-items: center;
  gap: 2em;
  background-color: hsl(240deg, 7%, 23%);
  position: absolute;
  inset: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}
.testimonials .testimonials-card.active {
  opacity: 1;
  transform: translateX(0);
}
.testimonials .testimonials-card.left {
  transform: translateX(-100%);
}
.testimonials .testimonials-card.right {
  transform: translateX(100%);
}
.testimonials .slider-btns-container {
  margin-block: 1.5em;
  display: flex;
  justify-content: end;
  align-items: center;
}
.testimonials .slider-btn {
  cursor: pointer;
  font-size: 2rem;
  color: hsl(0deg, 0%, 90%);
  opacity: 0.5;
  padding: 0.2em 0.5em;
  transition: all 0.3s ease-in-out;
}
.testimonials .slider-btn:hover {
  opacity: 1;
}
.testimonials .img-box {
  overflow: hidden;
  grid-area: img;
  max-height: 100%;
  min-width: 4em;
}
.testimonials .img-box img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials .content {
  grid-area: content;
  padding: 2em 2em 0 0;
}
.testimonials .content p {
  margin: 0;
}
.testimonials .avatar {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: hsl(162deg, 90%, 49%);
  grid-area: avatar;
  padding: 0 2em 2em 0;
}
.testimonials .avatar p {
  margin: 0;
}

@media (max-width: 50em) {
  .testimonials .tistimonials-content {
    height: 50vh;
  }
  .testimonials .testimonials-card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img avatar avatar" "content content content";
    text-align: left;
    gap: 1.5em;
    padding: 2em;
  }
  .testimonials .img-box {
    grid-area: img;
    width: 7em;
    height: 7em;
    border-radius: 100%;
  }
  .testimonials .content {
    grid-area: "content";
    padding: 0;
  }
  .testimonials .avatar {
    flex-direction: column;
    align-items: start;
    grid-area: avatar;
    padding: 0;
  }
}
.contact {
  padding-top: var(--gap);
}
.contact .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
}
.contact .address-info {
  margin-top: var(--gap);
}
.contact .address-info p {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
}
.contact .address-info p span {
  display: inline-block;
  padding-right: 1em;
  color: hsl(162deg, 90%, 49%);
  display: flex;
  align-items: center;
}

.footer {
  background-color: hsl(240deg, 5%, 11%);
  padding-block: var(--gap);
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo nav social" "copyright copyright copyright";
  align-items: center;
}
.footer .logo {
  grid-area: logo;
}
.footer .logo a {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: hsl(162deg, 90%, 49%);
}
.footer .nav {
  grid-area: nav;
  display: grid;
  place-items: center;
}
.footer .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  gap: 2em;
}
.footer .nav-list a {
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
.footer .nav-list a.active, .footer .nav-list a:hover, .footer .nav-list a:focus-visible {
  color: hsl(162deg, 90%, 49%);
}
.footer .social {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 2em;
  grid-area: social;
  transition: all 0.3s ease-in-out;
}
.footer .social a {
  transition: all 0.3s ease-in-out;
}
.footer .social a:hover {
  color: hsl(162deg, 90%, 49%);
}
.footer .copyright-tag {
  grid-area: copyright;
  font-size: 14px;
  color: hsl(240deg, 7%, 23%);
  text-align: center;
}

@media (max-width: 50em) {
  .footer .container {
    --gap: 2em;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "nav" "social" "copyright";
    gap: var(--gap);
  }
  .footer .social {
    justify-self: center;
  }
}
@media (max-width: 50em) {
  body {
    text-align: center;
  }
  .btn {
    line-height: 1.7;
  }
}/*# sourceMappingURL=style.css.map */